/*
  colors:

  'light': #f9f9f9,
	'dark': #16181e,
	'primary': #00b9ae,
	'secondary': #21242d,

*/

:root {
  --color-l: #f9f9f9 --color-d: #16181e --color-p: #00b9ae --color-s: #21242d
}

a {
  text-decoration: none;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

/* search input */
.search-di {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

.search-div .form-control:focus,
.search-div span {
  border-color: #00b9ae;
  box-shadow: 0 0 0 0.11rem rgba(0, 185, 174, 0.25);
}

/* search list */
.search-list {
  height: fit-content;
  overflow-y: auto;
  padding: 10px;
  width: 40vw;
  max-height: 50vh;
  /* margin: 10px 0; */
}

.search-list .list-group-item:first-child .search-list-image {
  border-radius: 0px 4px 0 0;
}

.search-list .list-group-item:last-child .search-list-image {
  border-radius: 0px 0px 4px 0;
}

/* search-list-image */
.search-list-image {
  transition: all ease 0.25s;
}

.search-list-image:hover {
  transition: all ease 0.25s;
  transform: scale(1.1);
}

/* custom-spinner */
.custom-spinner {
  height: '5em';
  width: '5em'
}

/* search-icon-click */
.search-icon-click:hover {
  cursor: pointer;
}

/* loader */
@keyframes spin {
  100% {
    rotate: 360deg;
  }
}

.loader {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #00b9ae 94%, #0000)top/8px 8px no-repeat, conic-gradient(#0000 30%, #00b9ae);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spin 0.5s infinite linear;
}

/* blur bacground */

.blur-2 {
  backdrop-filter: blur(2px);
}

.blur-5 {
  backdrop-filter: blur(5px);
}

.blur-10 {
  backdrop-filter: blur(10px);
}

.blur-15 {
  backdrop-filter: blur(15px);
}

.blur-20 {
  background-color: #21242d;
  backdrop-filter: blur(20px);
}

.blur-20:hover {
  color: #fff;
  backdrop-filter: blur(20px);
}

.blur-30 {
  background-color: #00b9ae;
  backdrop-filter: blur(30px);
}

.blur-30:hover {
  color: #fff;
  backdrop-filter: blur(30px);
}

.mix-color-revert {
  mix-blend-mode: revert;
}

.mix-color-doge {
  mix-blend-mode: color-dodge;
}

.w-fit-c {
  width: fit-content;
}

.w-max-c {
  width: max-content;
}

.w-min-c {
  width: min-content;
}

/* scroll-hidden */
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-sm::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: thin;
}

.scroll-sm::-webkit-scrollbar:hover {
  width: 8px;
  scrollbar-width: thin;
}

.scroll-sm::-webkit-scrollbar-track {
  background: #21242d;
  border-radius: 5px;
}

.scroll-sm::-webkit-scrollbar-track:hover {
  background: #21242d;
  border-radius: 8px;
}

.scroll-sm::-webkit-scrollbar-thumb {
  background: #00b9ae;
  border-radius: 5px;
}

.scroll-sm::-webkit-scrollbar-thumb:hover {
  background: #00b9ae;
  border-radius: 8px;
}

html::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: thin;
}

html::-webkit-scrollbar:hover {
  width: 8px;
  /* scrollbar-width: thin; */
}

html::-webkit-scrollbar-track {
  background: #21242d;
  border-radius: 5px;
}

html::-webkit-scrollbar-track:hover {
  background: #21242d;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #00b9ae;
  border-radius: 8px;
  opacity: 0.8;
}

html::-webkit-scrollbar-thumb:hover {
  background: #00b9ae;
  border-radius: 8px;
  opacity: 0.8;
}

/* slider */
.slider-wrapper {
  height: 350px;
  /* max-width: 96%; */
  border-radius: 20px;
}

.slider-content {
  padding: 10px;
  border: '1px solid white' !important;
  /* z-index: 100 !important; */
}


.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* .slider-wrapper:where('active') {
  background-color: #00b9ae !important;
} */

/* box shadow */
.shadow-c {
  -webkit-box-shadow: -14px 9px 98px 34px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -14px 9px 98px 34px rgba(0, 0, 0, 0.58);
  box-shadow: -14px 9px 58px 14px rgba(0, 0, 0, 0.58)
}